.react-multi-carousel-dot-list {
    position: absolute;
    bottom: 150px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
    margin: 0;
    @media (max-width: 768px) {
      /* margin-top: 20px; */
      display: none;
    }
  }
  
  .react-multiple-carousel__arrow{
    z-index: 0;
  }

  